.sidebar {
    border-right: 1px solid #eee;
    .sidebar-item {
        padding: 20px;
        cursor: pointer;
        border-bottom: 1px solid #eee;
        text-align: center;
        &:hover {
            background-color: #ddd;
        }
        &.active {
            background-color: #ddd;
        }
    }
}