<div class="sidebar">
    <div class="sidebar-item" routerLink="items" routerLinkActive="active">
      <i nz-icon [nzTwotoneColor]="iconColor" nzType="profile" nzTheme="twotone"></i><br>题型
    </div>
    <div class="sidebar-item" routerLink="styles" routerLinkActive="active">
      <i nz-icon [nzTwotoneColor]="iconColor" nzType="gift" nzTheme="twotone"></i><br>外观
    </div>
    <div class="sidebar-item" routerLink="setting" routerLinkActive="active">
      <i nz-icon [nzTwotoneColor]="iconColor" nzType="setting" nzTheme="twotone"></i><br>设置
    </div>
</div>