<div class="page-wrap">
  <header class="header">
    <a class="btn-back" routerLink="/list"><svg class="bi bi-list" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" clip-rule="evenodd"/>
    </svg> 问卷列表</a>
    <div class="row justify-content-md-center">
        <h4>问卷编辑</h4>
    </div>
  </header>
  <div class="row edit-container">
    <div class="col-1">
      <sidebar></sidebar>
    </div>
    <div class="col-11">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>