@import '../../assets/css/mixin.less';

:host {
    .wrap {
        width: 1280px;
        margin: 0 auto;
    }
    .header {
        padding: 0 10px;
        .h2 {
            float: left;
            font-size: 18px;
            font-weight: bold;
        }
        .btn-add {
            float: right;
            font-size: 0.8rem;
            margin-top: 13px;
        }
    }
    .item-content {
        width: 50%;
        .fontEllipsis()
    }
    .item-num {
        margin-right: 5px;
    }
    .item-actions {
        a {
            margin: 0 5px;
        }
    }
    .btn-delete {
        &:hover {
            color: red;
        }
    }
    nz-pagination {
        margin-top: 20px;
    }
}
.mb20 {
    margin-bottom: 20px;
}
a {
    color: #666;
    &:hover {
        text-decoration: none;
        color: #28a745;
    }
}


nz-layout, .ant-layout {
    background-color: white !important;
}
nz-header.header {
    background-color: white;
}