<nz-layout class="wrap">
    <nz-header class="header clearfix">
        <h2 class="h2">问卷管理</h2>
        <button nz-button nzType="primary" class="btn-add" routerLink="/create"><i nz-icon nzType="plus" nzTheme="outline"></i>创建问卷</button>
    </nz-header>
    <nz-content>
        <ul nz-list [nzDataSource]="listData" nzBordered>
            <li nz-list-item *ngFor="let item of listData">
                <span class="item-content">
                    <span class="item-num">{{item.index + 1}}.</span>
                    <a [routerLink]="['/view', item.id]">{{item.title}}</a>
                </span>
                <span class="item-actions">
                    <a [routerLink]="['/edit', item.id]"><i nz-icon nzType="form" nzTheme="outline"></i></a>
                    <a (click)="copyItem(item)"><i nz-icon nzType="copy" nzTheme="outline"></i></a>
                    <a class="btn-delete" nz-popconfirm nzPopconfirmTitle="确定删除？" nzPopconfirmPlacement="bottom" (nzOnConfirm)="delConfirm(item.id)"><i nz-icon nzType="close" nzTheme="outline"></i></a>
                </span>
            </li>
        </ul>
        <nz-pagination [nzHideOnSinglePage]="true" ([nzPageIndex])="pageIndex" [nzTotal]="allData.length" [nzPageSize]="pageSize" (nzPageIndexChange)="onPageIndexChange($event)"></nz-pagination>
    </nz-content>
</nz-layout>