.container {
    padding: 30px 0;
    .header {
        margin-bottom: 20px;
        .h3 {
            float: left;
        }
        .btn-add {
            float: right;
            font-size: 0.8rem;
        }
    }
    .op-btn {
        cursor: pointer;
        margin-left: 10px;
    }
    .btn-edit {
        &:hover {
            color: #28a745;
        }
    }
    .btn-delete {
        &:hover {
            color: red;
        }
    }
}
.mb20 {
    margin-bottom: 20px;
}
a {
    color: #666;
    &:hover {
        text-decoration: none;
        color: #28a745;
    }
}