<nz-layout class="edit-layout">
  <nz-sider class="sub-sidebar-wrap">
    <sub-sidebar [items]="questionType" (newItemEvent)="getSubSidebar($event)"></sub-sidebar>
  </nz-sider>
  <nz-content>
    <div class="items-board">
      <qst-board [qstList]="qstList" (delItemEvent)="onDeleteItem($event)" (copyItemEvent)="onCopyItem($event)" (getActiveItem)="onGetActiveItem($event)"></qst-board>
    </div>
  </nz-content>
  <nz-sider class="nz-sider-setting">
    <div *ngIf="activeItem" class="setting-board">
      <h3 class="setting-board-title">题型设置</h3>
      <div class="setting-board-item" nz-row nzJustify="space-between">
        <label nz-col>题目分值</label>
        <div nz-col>
            <input nz-input nzSize="small" [(ngModel)]="scoreValue" />
        </div>
      </div>
      <div class="setting-board-item" nz-row nzJustify="space-between">
        <label nz-col>是否必填</label>
        <nz-switch nz-col [(ngModel)]="isMustFill"></nz-switch>
      </div>
    </div>
  </nz-sider>
</nz-layout>
