<div class="qst-board">
    <!-- 页眉 -->
    <div class="qst-header"></div>

    <!-- 中间 -->
    <div class="qst-main">
        <div class="qst-main__hd">
            <div class="qst-name">
                <input type="text" [value]="qstName">
            </div>
            <div class="qst-desc">
                <textarea [value]="qstDesc"></textarea>
            </div>
        </div>
        <div class="qst-main__bd">
            <div class="qst-list" cdkDropList (cdkDropListDropped)="drop($event)">
                <div class="qst-item-wrap" *ngFor="let item of qstList" (click)="qstItemClick(item)" cdkDrag>
                    <div class="qst-main-placeholder" *cdkDragPlaceholder></div>
                    <div class="qst-item" [class]="activeItem==item.id ? 'active' : ''">
                        <div [ngSwitch]="item.typeId">
                            <qst-radio *ngSwitchCase="1" [qst]="item" [active]="activeItem==item.id"></qst-radio>
                            <qst-checkbox *ngSwitchCase="2" [qst]="item" [active]="activeItem==item.id"></qst-checkbox>
                            <qst-text *ngSwitchCase="3" [qst]="item" [active]="activeItem==item.id"></qst-text>
                            <qst-textarea *ngSwitchCase="4" [qst]="item" [active]="activeItem==item.id"></qst-textarea>
                            <qst-desc *ngSwitchCase="5" [qst]="item" [active]="activeItem==item.id"></qst-desc>
                            <qst-sort *ngSwitchCase="6" [qst]="item" [active]="activeItem==item.id"></qst-sort>
                            <qst-score *ngSwitchCase="7" [qst]="item" [active]="activeItem==item.id"></qst-score>
                            <qst-matrix *ngSwitchCase="8" [qst]="item" [active]="activeItem==item.id"></qst-matrix>
                            <qst-pic *ngSwitchCase="9" [qst]="item" [active]="activeItem==item.id"></qst-pic>
                            <qst-file *ngSwitchCase="10" [qst]="item" [active]="activeItem==item.id"></qst-file>
                            <qst-select *ngSwitchCase="11" [qst]="item" [active]="activeItem==item.id"></qst-select>
                            <qst-date *ngSwitchCase="12" [qst]="item" [active]="activeItem==item.id"></qst-date>
                            <qst-cascader *ngSwitchCase="13" [qst]="item" [active]="activeItem==item.id"></qst-cascader>
                            <qst-proportion *ngSwitchCase="14" [qst]="item" [active]="activeItem==item.id"></qst-proportion>
                            <qst-fill *ngSwitchCase="16" [qst]="item" [active]="activeItem==item.id"></qst-fill>
                        </div>
                        <span class="item-actions">
                            <i nz-icon nzType="drag" nzTheme="outline" cdkDragHandle title="拖拽排序"></i>
                            <!-- 复制 -->
                            <i nz-icon nzType="copy" (click)="copyItem(item)" title="复制题目" nzTheme="outline"></i>
                            <!-- 删除图标 -->
                            <a nz-popconfirm nzPopconfirmTitle="确定删除？" nzPopconfirmPlacement="bottom" (nzOnConfirm)="delConfirm(item)" title="删除题目">
                                <i nz-icon nzType="delete" nzTheme="outline"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 页脚 -->
    <div class="qst-footer"></div>
</div>